#nav_bar {
    background: #181818;
    width: 60px;
    height: 100%;
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    min-height: 500px;
}